@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Product Sans', sans-serif;
    src: url("/src/lib/fonts/Product.ttf");
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
}

.container{
    width: 1140px;
    margin: auto;
}
.blog-page-container{
    width: 1240px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.blogs-hero{
    /* background: url(images/hero.png) no-repeat center center; */
    background-color: #601A3D;
    /* width: 100vw; */
    height: 600px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.privacy-policy-hero,.about-us-hero, .email-confirmation{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.about-us-hero{
  height: 300px;
}
.about-us-hero h1{
  font-size: 36px;
  color: #454545;
  font-family: 'Aclonica', sans-serif;
}
.about-us-hero-child, .email-confirmation-child{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-us-hero-child img{
  background-color: #3E001F;
  padding: 3rem;
  border-radius: 50%;
  margin: 1rem 0;
}

.email-confirmation-child img{
  height: 20%;
  width: 20%;
  background-color: #3E001F;
  padding: 2rem;
  border-radius: 50px;
  margin: 1rem 0;
}

.email-confirmation h1{ 
  font-family: 'Aclonica', sans-serif;
  font-size: 24px;
  color: #454545;
  margin-top: 1rem;
}

.about-us-content{
  max-width: 900px;
  margin: auto;
  margin-top: 5rem;
}

.privacy-policy-hero-child{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.privacy-policy-hero-child h1{
  font-family: 'Aclonica', sans-serif;
  font-size: 36px;
  color: #454545;
  margin-top: 1rem;
}

.forgot-pass{
  color: #757575;
  align-self: flex-end;
  margin-top: 10px;
}

.forgot-pass:hover{
  color: #3E001F;
}
.login-register-form{
  /* margin: 2rem 0; */
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Product Sans', sans-serif;
  width: 50%;
}
.google-auth{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.google-auth h1{
  font-family: 'Product', sans-serif;
  font-size: 2rem;
  color: #757575;
  margin-right: 10px;
}
.login-register-form div{
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-register-form label{
  color: #757575;
  margin-right: 1rem;
}
.login-register-form input{
  border-radius: 3px;
background: #e7e3e3;
border: none;
width: 50%;
height: 40px;
}
.login-register-form input[type='radio']{
  width: 10px !important;
  height: 10px !important;
}

.login-register-form .btn{
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.blog-hero{
    height: 600px;
    /* background: url(/src/lib/images/Card.png) no-repeat center center; */
    background-color: #601A3D;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.blog-hero-container{
    display: flex;
    color: white;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
.blogs-hero-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding: 2rem;
}
.blogs-hero-container img{
  /* height: 70%;
  width: 70%; */
  border-radius: 10px;
}
.featured-blog{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-right: 2rem;
 
}
.featured-blog a{
  text-decoration: none;
}
.featured-blog p{
  font-family: 'Product Sans', sans-serif;
  font-size: 24px;
  color: white;
 
}
.featured-blog>*{
  margin-bottom: 1rem;
}
.featured-blog h3{
  font-family: 'Aclonica', sans-serif;
  font-size: 36px;
  color: white;
}
.featured-blog-list{
  margin-left: 2rem;
  padding-top: 1rem ;
}
.featured-blog-list h3{
  font-family: 'Aclonica', sans-serif;
  font-size: 36px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #EFB027;
  width: 90%;
}

.featured-blog-list ul li{
  font-size: 24px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-family: 'Product Sans', sans-serif;
  list-style: none;
  border-bottom: 1px solid white;
  width: 90%;
}
.featured-blog-list ul li a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.featured-blog img{
  height: 322px;
  width: 562px ;
}
.blog-hero-container h1{
    font-family: 'Aclonica', sans-serif;
}
/* .blogs-hero-container>*, .hero-text>*{
    margin-bottom: 2rem;
} */

/* .blogs-hero-container h1{
    font-size: 90px;
    font-family: 'Aclonica', sans-serif;
} */

/* .blogs-hero-container h3{
    font-size: 30px;
    text-align: center;
} */

.blogs-hero-container .hero-para{
    width: 80%;
    font-size: 1.5rem;
    text-align: center;
}

.blogs-heading{
    color: #454545;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line{
    width: 78%;
    height: 1px;
    background-color: #454545;
}
.privacy-policy-line{
  width: 100%;
  height: 1px;
  background-color: #EFB027;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar{
    background-color: #E07A5F;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    height: 75px;
    z-index: 2;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }

  .navbar img{
    height: 50px;
    margin-top: 10px;
  }
.button-div{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

  .home-nav{
    /* background-color: #3E001F; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 30px;
    font-size: 1rem;
  }

  .home-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home-nav ul li{
    list-style: none;
    margin-left: 3rem;
  }
  .home-nav ul li a{
    text-decoration: none;
    color: #3E001F;
    font-family: 'Product Sans', sans-serif;
    font-size: 1.2rem;
  }
  .privacy-policy-faq,.privacy-policy-content{
    font-family: 'Product Sans', sans-serif;
  }
  .privacy-policy-faq ol li{
    margin:1.5rem;
  }
.privacy-policy-content{
  margin: 2rem 0;
}
  .privacy-policy-faq .faq-question,.privacy-policy-content h3{
    color: #454545;
    font-size: 24px;
  }
  .privacy-policy-faq .faq-answer,.privacy-policy-content p,.privacy-policy-content ul li, .privacy-policy-content ol li{
    color: #757575;
    font-size: 20px;
    margin-top: 10px;
  }

  .privacy-policy-content ul li, .privacy-policy-content ol li{
    margin-left: 1.1rem;
  }

  .btn-dark{
    background-color: #EFB027;
    color: #3E001F;
  }
  .btn-dark:hover{
    background-color: #3E001F;
    color: white;
  }
  .btn-dark a{
    color: #3E001F;
  }
  .btn-dark:hover a{
    color: white;
  }

  .btn-light{
    background-color: #3E001F;
    color: white;
  }
  .btn-light a{
    color: white;
  }

  .btn a{
    text-decoration: none;
  }
 

  .btn-light:hover{
    background-color: #EFB027;
    color: #3E001F;
  }
  .btn-light:hover a{
    color: #3E001F;
  }

.blog-card>*{
    margin-bottom: 1rem;
}
.blog-card{
    color: #454545;
}
.blog-card img{
    height: 215px;
    width: 375px;
}

.blog-card h2{
    font-family: 'Aclonica', sans-serif;
}
.blogs-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
}
.blogs-grid a{
    text-decoration: none;
}
footer{
    position: relative;
    bottom: 0;
    height: 300px;
    display: flex;
    align-items: center;
    border-top: 1px solid #D1D1D1;
    margin-top: 2rem;
    background-color: #FFECF5;
        font-family: 'Product Sans', sans-serif;
}

footer a{
    text-decoration: none;
    color: #000;
}

footer a:hover{
  color: #757575;
}
footer .container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
footer .container>*{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

footer .line{
    width: 1140px;
    background-color: #D1D1D1;
}

footer .social>*, footer p, footer a{
    margin-left: 1rem;
}

.blog-hero-container{
    flex-direction: column;
    z-index: 2;
}
.blog-hero-container>*{
    margin-bottom: 1rem;
}
.blog-hero-container .flex p{
    margin-left: 1rem;
}
.blog-hero-container h1{
    margin-top: 7rem;
   font-size: 3rem;
   text-align: center;
   width: 75%;
}
.blog-image img{
    /* border: 5px solid white; */
    width: 700px;
    height: 400px;
    border-radius: 20px;
}
.blog-image{
    position: relative;
    top: 2rem;
}

.content{
    max-width: 700px;
    margin: auto;
    margin-top: 12rem;
    /* text-align: justify; */
}

.content p, .content li{
    font-size: 1rem;
    margin-bottom: 5px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
 }
 .content ol, .content ul{
      margin-left: 2rem;
 }
 .content h1{
     font-size: 2rem;
    font-family: 'Aclonica', sans-serif;
    /* font-family: 'Roboto', sans-serif ; */
    margin-bottom: 5px;
    color: #454545;
  }

 .content h2, .content h3{
    font-size: 1.4rem;
    font-family: 'Aclonica', sans-serif;
    margin-bottom: 5px;
    color: #454545;
 } 

  .navbar{
    background-color: #E07A5F;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    height: 75px;
    z-index: 2;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
  }

  .navbar img{
    height: 50px;
    margin-top: 10px;
  }
.button-div{
    margin: auto;
    display: flex;
    justify-content: center;
}
  .button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #E07A5F;
    font-family: 'Aclonica', sans-serif;
    align-self: center;
  }

  
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .social-icons{
    display: flex ;
   justify-content: space-evenly;
   margin-top: 1rem;
   background-color: #FFECF5;
    padding: 7px;
    border-radius: 20px;
 }
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid  #E07A5F;
    border-radius: 50%;
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }

  .home{
    font-family: 'Product Sans', serif;
  }
  
  .home-hero{
    background-color: #3E001F;
    color: white;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem 0 ;
  }

  .home-hero h1{
    width: 80%;
    font-size: 3.5rem;
  }

  .home-hero p{
    width: 40%;
    font-size: 2rem;
    margin-top: 1rem;
  }

  .home-hero p span{
    color: #fc0;
  }
.home-hero p, .home-hero h1{
    position: relative;
    left: 3.5rem;
    top: 8rem;
}
  .home-hero img{
    position: relative;
    left: 15rem;
  }

  .home-heading-para{
    background-color: #FFF5E5;
    padding: 2rem 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  
  .home-heading-para h1{
    width: 80%;
    font-size: 3rem;
    text-align: center;
    color: #3E001F;
  }

  .home-heading-para  p{
    width: 50%;
    color: #454545;
    text-align: center;
    font-size: 20px;
    margin-top: 1rem;
  }

  .icons-grid-div, .cards-grid-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  .cards-grid{
    margin-left: 11rem;
  }
  .home-heading{
    font-size: 3rem;
    color: #454545;
    margin: 4rem 0;
  }

  .home-heading span{
    color: #7A5F58;
  }
  .icons-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.5rem;
  }
.icons-grid-2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
}

.icons-grid-2 img:nth-child(-n+4) {
  border-bottom: 1px solid #EFB027; /* Add a border at the bottom for the first 4 images */
}
.icons-grid-2 img{
 padding: 4rem;
}

.icons-grid-2 img:not(:nth-child(4n)):not(:nth-child(4n + 4)) {
  border-right: 1px solid #EFB027;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.cards-grid-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

/* .card p{
    font-size: 20px;
    color: #757575;
    width: 75%;
} */

.card>*{
    margin-bottom: 1rem;
}

.card-2{
    border-radius: 42px;
    background: #FFFBF3;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-2 .card-para{
    text-align: center;
}
 .card-para{
 
    width: 75%;
    color: #757575;
    font-size: 20px;
}

 .card-heading{
    font-size: 2rem;
    color: #454545;
}

.card-2>*{
    margin-bottom: 1.5rem;
}
.jumbotron{
    background-color: #3E001F;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.jumbotron .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jumbotron h1{
    font-size: 4rem;
    /* font-family: 'Product Sans', sans-serif; */
    width: 90%;
    margin-bottom: 1rem;
}
.jumbotron .btn{
    font-size: 1.5rem;
    color: #3E001F;
    background-color: #FFF5E5;
}

.jumbotron .btn:hover{
  background-color: #f7d7a4;
}
.nav-background{
    background-color: #E07A5F;
    margin: 0;
    padding: 2rem 0;
}
.nav-background .home-nav{
    margin: 0;
}
.icons-grid-bg{
  background: url('/src/lib/images/icons-grid.png') no-repeat ;
  background-size: 100% 100%;
  height: 600px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.web-none{
  display: none;
}
#mobile-logo{
  display: none;
}
.menu-button-container {
    display: none;
    height: 100%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 200px; */
    /* margin: auto; */
    left: 2.5rem;
  }

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.web{
  width: 55%;
  margin-bottom: 0;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.mob-none{
  display: block;
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.btn{
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .mob{
    display: none;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .dashboard{
    font-family: "Inter", sans-serif;
    color: #404040;
    background-color: #FFFAEE;
    padding: 2rem;
  }

  .profile-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    font-size: 20px;
  }

   .profile-info .profile-name{
    color: #B2B2B2; 
    margin: 0 1rem;
      }

   .profile-info .draw-para{
    color: #EFB027;
    width: 40%; 
  }

    .profile-info .draw-para span{
      color: #3E001F;
    }

    .suggested-brands{
      margin: 4rem 0 2rem 0; 
    }

    .suggested-brands .suggested-brands-heading{
      font-size: 20px;
      margin-bottom: 3rem;
    }
    .comments-div{
      margin: 4rem 0;
    }
    .comments-line{
      border-bottom: 1px solid #EFB027;
      margin: 1rem 0;
    }

    .comment-div img[alt="user-dp"]{
      width: 30%;
      height: 30%;
    }
    .comment-div >*{
      margin-bottom: 1rem;
    }
    .comment-div{
      margin: 2rem 4rem;
      font-weight: 500;
    }
    .comment-div .likes img{
      margin-right: 10px;
    }
    .comment-div .like-reply{
      width: 15%;
    }

    .margin-left{
      margin-left: 2.5rem;
    }

    .comment-div .dp-name{
      width: 10%;
    }

    .comment-div .comment-time{
      color: #EFB027;
    }
    .brands-grid{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      align-items: center;
    }

    .suggested-brands .btn{
      background-color: white;
      border: 1px solid #414141;
      /* font-size: 18px; */
      padding: 5px 10px;
      border-radius: 10px;
      height: 50px;
      width: 150px;
      margin-left: 4rem;
    }

    .get-suggestion .btn{
      background-color: white;
      border: 1px solid #414141;
      /* font-size: 18px; */
      padding: 5px 10px;
      border-radius: 10px;
    }
    .get-suggestion .btn img{
      margin-right: 10px;
    }
    .suggested-brands .btn .flex{
      justify-content: space-around;
    }

    .dashboard-brand-card{
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      margin-right: 10px;
    }

    .suggested-brands .selected-card{
      background-color: #EFB027;
    }

    .dashboard-brand-card .logo-div-passiveday{
      background-color: #FFF2F8;
      color: #F7B1D0;
    }
    .dashboard-brand-card .logo-div-jumji{
      background-color: #EDF3FF;
      color: #96B9FF;
    }
    .dashboard-brand-card .logo-div-appsala{
      background-color: #FFF1F1;
      color: #F8B8B8;
    }
    .dashboard-brand-card .logo-div-holuj{
      background-color: #FFFAEE;
      color: #F0CA79;
    }
    .dashboard-brand-card .logo-div{
      padding: 2rem;
      margin: 1rem 0;
      position: relative;
      border-radius: 10px;
    }

    .dashboard-brand-card .logo-div img{
      width: 70%;
      height: 70%;
      margin-left: 15px;
    }

    .dashboard-brand-card .logo-div p{
      font-size: 14px;
      text-align: right;
      position: relative;
      right: -20px;
      bottom: -25px;
    }

    .dashboard-brand-card .voted{
      font-size: 16px;
    }
    .dashboard-brand-card .brand-name{
      font-size: 20px;
    }

    .dashboard .brand-section-heading{
      font-size: 20px;
      font-weight: 600;
    }
    .get-suggestion{
      margin-top: 4rem;
      font-size: 20px;
    }

    .purchased-brands{
      margin-top: 4rem;
    }

    .purchased-brands .brands-grid{
      margin-top: 3rem;
    }
    .get-suggestion>*{
      margin: 2rem 0;
    }

    .get-suggestion .get-suggestion-first-child{
      width: 40%;
    }

    .get-suggestion .suggested-email{
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      color: #B2B2B2;
      margin-right: 10px;
    }
    .get-suggestion .suggested-email p{
      margin-right: 10px;
    }

    .get-suggestion .your-email{
      padding: 10px;
      background-color: white;
      border-radius: 10px;
    }
  @media(max-width: 479px) {
    .container{
    width: 99%;
    margin: auto 0;
}
.blogs-hero{
    flex-direction: column;
    border-radius: 0px;
    height: 500px;
    /* background: url(images/blog-hero.png) no-repeat center center; */
}
.mob{
  display: flex;
}
.blog-hero{
  height: 500px;
  background: none;
  background-color: #3E001F;
  color: white;
  border-radius: 0px;
}
.nav-background{
  background-color: white;
  padding: 0;
}
.blogs-hero-container{
    flex-direction: column;
}
.blogs-hero-container>*{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.blogs-grid{
    grid-template-columns: 1fr;
    margin-top: 3rem;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  background-color: #3E001F;
}
.blogs-hero-container h1{
    font-size: 50px;
}
.blogs-hero-container h3{
    font-size: 20px;
    width: 100%;
}
.mob-none{
  display: none;
}
.blogs-hero-container .hero-para{
    width: 100%;
    font-size: 1rem;
}
.blog-card img{
  width: 99%;
  height: 99%;
}
.blogs-hero-container {
  padding: 0;
}
.blogs-heading{
   flex-direction: column;
}
.footer-top, .footer-bottom{
    flex-direction: column;
}
.footer-bottom>*{
    margin-bottom: 1rem;
}

.email-confirmation-child img{
  height: 50%;
  width: 50%;
}

.email-confirmation h1{ 
  font-size: 1rem;
  width: 80%;
  margin: auto 0;
}

.google-auth{
  width: 80%;
}
.google-auth h1{
  font-size: 1.5rem;
}

footer .line{
    width: 350px;
    background-color: #D1D1D1;
}
.line{
    width: 300px;
    margin-top: 1rem;
}
.social{
    margin-top: 2rem;
}

.blog-hero-container h1{
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 90%;
    text-align: left;
 }

 .blog-hero-container p{
  text-align: left;
 }

 .blog-hero-container>*{
  margin-bottom: 1rem;
}
.blog-card>*{
  padding: 0 10px;
}
 .blog-image img{
    border:none;
    border-radius: 10px;
    width: 99%;
    height:  99%;
}
.web{
  display: none;
}
.blog-image{
    position: static;
    width: 90%;
}
.about-us-content{
    max-width: 94%;
    margin-top: 6rem;
 
}
.content{
    max-width: 94%;
    margin-top: 2rem;
    /* text-align: justify; */
}
.content p, .content li{
   font-size: 17px;
}

.content h1{
    font-size: 16px;
 }
 .blog-card h2{
    font-size: 20px;
 }
 .blog-card p{
    font-size: 14px;
 }

 
 .nav-buttons{
    display: none;
 }


 .cards-grid-2, .cards-grid,.icons-grid{
    grid-template-columns: 1fr;
 }
.home-hero{
    padding: 3rem 1rem;
}
 .home-hero img{
    width: 95%;
    height: 95%;
 }

 .home-hero h1{
    width: 100%;
    font-size: 1.5rem;
  }

  
  .home-hero p{
    width: 100%;
    font-size: 1rem;
  }

  .home-hero p, .home-hero h1{
    position: static;
}
.home-hero img{
    position: static;
  }
  .home-heading-para h1{
    width: 100%;
    font-size: 20px;
  }

  .home-heading-para  p{
    width: 100%;
    font-size: 14px;
  }

  .home-heading{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
  }

  .cards-grid{
    margin-left: 0;
  }
  .cards-grid-div-1{
    margin-top: -5rem;
    width: 100%;
  }
  .card{
    text-align: center;
  }

  .card-para{
    width: 80%;
    margin: auto;
    font-size: 14px;
}
.card-heading{
    font-size: 1.5rem;
    color: #454545;
}
.jumbotron h1{
    font-size: 2rem;
    width: 100%;
    text-align: center; 
}
.jumbotron .container div{
    display: flex;
    flex-direction: column;
}
.jumbotron{
    height: 500px;
 }
 .jumbotron .container{
    flex-direction: column;
 }

 .icons-grid{
    grid-template-columns: repeat(3, 1fr);
 }

 .icons-grid img{
    width: 95%;
    height:95%;
 }

 .cards-grid .card-heading{
    font-size: 20px;
    font-weight: bold;
 }
 /* .nav-background{
    display: none;
 } */

 .icons-grid-bg{
    background: url('/src/lib/images/icons-grid-mobile.png') no-repeat ;
    background-size: 100% 100%;
    height: 800px;
    width: 95%;
    margin-top: -12rem;
  }
  .blog-hero-container .flex{
    width: 90%;
    justify-content: space-between;
  }
  .home-nav{
    background-color: white;
  }
  .home-nav ul li a{
    color: white;
  }
  .icons-grid{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
    
  }

  .icons-grid-2{
    grid-template-columns: repeat(2, 1fr);
    /* padding: 3rem; */
  }
  .blog-hero-container .flex p{
    margin-left: 0;
}
  .icons-grid-2 img{
    padding: 1rem;
    width: 99%;
    height: 99%;
  }
  
  .icons-grid-2 img:nth-child(-n+6) {
    border-bottom: 1px solid #EFB027; /* Add a border at the bottom for the first 4 images */
  }
  .icons-grid-2 img:nth-child(odd){
    border-right:1px solid #EFB027;
  }

  .icons-grid-2 img:nth-child(2),.icons-grid-2 img:nth-child(6){
    border-right: none !important;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 5rem;
    left: 5px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #3E001F;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid white;

  }
  .login-register-form{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .blog-page-container{
    width: 100%;
  }

  .menu-button-container {
    display: flex;
  }

  #web-logo{
    display: none;
  }

  #mobile-logo{
    display: block;
  }
  .privacy-policy-faq .faq-question,.privacy-policy-content h3{
    font-size: 16px;
  }
  .privacy-policy-faq .faq-answer,.privacy-policy-content p,.privacy-policy-content ul li, .privacy-policy-content ol li{
    font-size: 14px;
  }
  .privacy-policy-hero-child h1{
    font-size: 24px;
  }

  .privacy-policy-hero-child img{
    height: 80%;
    width: 80%;
  }
  .blogs-hero-container{
    display: flex;
    flex-direction: column;
  }
  .featured-blog img{
    height: 200px ;
    width: 97% ;
    padding-left: 10px;
    border-radius: 30px;
  }
  .featured-blog h3{
    margin: 10px 0;
    padding-left: 10px;
  }
  .featured-blog p {
    width: 96%;
    text-align: justify;
    padding-left: 10px;
  }
  .featured-blog{
    margin-right: 0;
    padding: 0;
  }

  .featured-blog-list{
    padding-top: 1rem ;
    margin-left: 0;
    padding: 1rem;
  }
  .featured-blog-list h3{
    font-size: 18px;
    color: #3E001F;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .featured-blog-list ul li{
    font-size: 16px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #DDE4EC;
    width: 100%;
  }
  .featured-blog-list ul li a{
    color: #3E001F;

  }
  .web-none{
    display: block;
  }
 
.about-us-hero{
  font-size: 1.5rem;
}
}